.main-container {
  min-height: 100vh;
  header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  .content-wrapper {
    display: grid;
    #content {
      padding: 20px;
      margin-top: 60px;
    }
  }
}
