<div class="product-details">
  <div class="left-part">
    <img src="" alt="" />
  </div>
  <div class="right-part">
    <div class="product-info">
      <p>Men Suit</p>
      <p>$200</p>
    </div>
    <div class="product-review">
      4.0 ****
      <span>Leave a review</span>
    </div>
    <div class="color">
      <p style="background-color: red; width: 10px; height: 10px">red</p>
    </div>
    <div class="size">
      <div class="medium">M</div>
    </div>
    <div class="add-to-cart">
      <button class="btn btn-secondary">Add to cart</button>
    </div>
    <div class="checkout">
      <button class="btn btn-success">Proceed to checkout</button>
    </div>
    <div class="product-description">
      <label for="">Description</label>
      <p>Suits for gentlemen.</p>
    </div>
  </div>
</div>
<div class="recent-reviews">
  <div class="review">
    <div class="left">
      <p>Admin</p>
      <p>13/03/2023</p>
    </div>
    <div class="right">
      <p>**** 4</p>
      <p>Good</p>
    </div>
  </div>
</div>
