<div class="login-wrapper">
  <form [formGroup]="registerForm">
    <div class="card login-card">
      <div class="mb-3">
        <label for="mobileId" class="form-label">Mobile Number</label>
        <input
          type="text"
          class="form-control"
          id="mobileId"
          aria-describedby="mobile number as username"
          formControlName="UserName"
        />
      </div>
      <div class="mb-4">
        <label for="passwordId" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="passwordId"
          formControlName="UserPassword"
        />
      </div>
      <button type="submit" class="btn btn-primary" (click)="onSubmit()">
        Submit
      </button>
    </div>
  </form>
</div>
