<div class="login-wrapper">
  <form [formGroup]="registerForm">
    <div class="card login-card">
      <div class="mb-3">
        <label for="userId" class="form-label">Full Name</label>
        <input
          type="text"
          class="form-control"
          id="userId"
          aria-describedby="user name"
          formControlName="fullname"
        />
      </div>
      <div class="mb-3">
        <label for="emailId" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="emailId"
          aria-describedby="email address"
          formControlName="email"
        />
      </div>
      <div class="mb-4">
        <label for="passwordId" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="passwordId"
          formControlName="password"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary d-flex justify-content-center align-items-center gap-3"
        [disabled]="isLoading"
        (click)="onSubmit()"
      >
        @if(!isLoading) { Submit } @else { Loading...
        <i class="fi fi-rr-spinner rotating"></i>
        }
      </button>
      <a class="text-center" routerLink="/login">login</a>
    </div>
  </form>
</div>
