<div class="category-wrapper">
  <div class="heading">
    <span>Shop by Category</span>
    <span class="link" [routerLink]="['/categories']"
      ><a>Browse all categories →</a></span
    >
  </div>
  <div class="categories">
    @for (category of categories | slice: 0: 4; track $index) {
    <!-- <div class="card">
      <img class="image" [src]="category.image" [alt]="category.name" />
      <span class="info"
        >{{ category.name }} - {{ category.products.length || 0 }}</span
      >
    </div> -->
    }
  </div>
</div>
