<div class="nav">
  <!-- <div class="logo" routerLink="/admin">
    <h2><span class="logo-1">Desi</span>Dukan</h2>
  </div> -->
  <div class="left-section"></div>
  <div class="right-section">
    <div class="user-section">
      <i class="fi fi-rs-circle-user" (click)="openUserPopup()"></i>
    </div>
  </div>

  @if (isAdminPopup) {
  <div class="user-popup">
    <ul>
      <li routerLink="/admin/profile">
        <i class="fi fi-rr-user-gear"></i> Profile
      </li>
      <li (click)="logout()"><i class="fi fi-rs-sign-out-alt"></i> Logout</li>
    </ul>
  </div>
  }
</div>
