.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #ffff;
  margin-left: 200px;
  box-shadow: 0px 0px 2px 0px rgba(184, 183, 183, 0.941176);
  .right-section,
  .user-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

.user-popup {
  position: absolute;
  right: 20px;
  background: black;
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  top: 50px;
  z-index: 999;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: flex;
      gap: 10px;
      align-items: center;
      margin-bottom: 10px;
      cursor: pointer;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
