<div class="product-details">
  <div class="left-part">
    <img [src]="product.images[0]" [alt]="product.name" />
  </div>
  <div class="right-part">
    <div class="product-info">
      <p>{{ product.name }}</p>
      <p>{{ product.price | currency : "USD" : "symbol" }}</p>
    </div>
    <div class="product-review">
      {{ product.totalReviews }} ****
      <span>Leave a review</span>
    </div>
    <div class="product-description">
      <label for="">Description</label>
      <p>Suits for gentlemen.</p>
    </div>
    @if (product.colors && product.colors.length > 0) {
    <div class="colors">
      @for (c of product.colors; track $index) {
      <p class="color-box" [ngStyle]="{ 'background-color': c }"></p>
      }
    </div>
    }
    <div class="size">
      <div class="medium">M</div>
    </div>
    <div class="add-to-cart">
      <button class="btn btn-secondary" (click)="addToCart(product)">
        Add to cart
      </button>
    </div>
    <div class="checkout">
      <button class="btn btn-success" (click)="gotoCheckoutPage()">
        Proceed to checkout
      </button>
    </div>
  </div>
</div>
<!-- <div class="recent-reviews">
  <div class="review">
    <div class="left">
      <p>Admin</p>
      <p>13/03/2023</p>
    </div>
    <div class="right">
      <p>**** 4</p>
      <p>Good</p>
    </div>
  </div>
</div> -->
