.product-card {
  background: white;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  position: relative;
  margin-bottom: 20px;
  .product-thumbnail {
    height: 140px;
    width: 250px;
    overflow: hidden;
    img {
      height: 100%;
      object-fit: cover;
      max-width: 100%;
      width: 100%;
      border-radius: 8px 0px 0px 8px;
    }
  }
  .product-info-wrapper {
    width: 100%;
    padding: 5px 25px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h6 {
        margin: 0;
      }
    }
    .product-desc {
      p {
        margin: 0;
      }
    }
    .star-rating {
      display: flex;
      justify-content: flex-start;
      gap: 7px;
      font-size: 12px;
    }
  }
}
