.coupons {
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 1px;
    .add-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-size: 16px;
      cursor: pointer;
      .fi-br-add {
        line-height: 0;
      }
    }
  }
  .product-card {
    table {
      tbody {
        tr:last-child > td,
        tr:last-child > th {
          border: none;
        }
        img {
          height: 50px;
          width: 50px;
        }
        .buttons {
          display: inline-flex;
          align-items: center;
          gap: 10px;
          button {
            min-width: 50px;
          }
        }
      }
    }
  }
}

.chip-g {
  padding: 3px;
  border-radius: 4px;
  color: white;
  padding: 4px 10px;
  font-size: 13px;
}

span.expired {
  background: rgba(255, 0, 0, 0.7);
}

span.active {
  background: rgba(0, 128, 0, 0.7);
}
