<div class="cards">
  <div class="card p-4">
    <div class="left">
      <img src="assets/brands/gucci.png" alt="" />
    </div>
    <div class="right">
      <div class="title">Today's Sales</div>
      <div class="price">$0.00</div>
    </div>
  </div>
  <div class="card p-4">
    <div class="left">
      <img src="assets/brands/ck.png" alt="" />
    </div>
    <div class="right">
      <div class="title">Minimum Order</div>
      <div class="price">$0.00</div>
    </div>
  </div>
  <div class="card p-4">
    <div class="left">
      <img src="assets/brands/ck.png" alt="" />
    </div>
    <div class="right">
      <div class="title">Maximum Oder</div>
      <div class="price">$0.00</div>
    </div>
  </div>
  <div class="card p-4">
    <div class="left">
      <img src="assets/brands/ck.png" alt="" />
    </div>
    <div class="right">
      <div class="title">Total Sales</div>
      <div class="price">$0.00</div>
    </div>
  </div>
</div>
