<div class="sidebar">
  <!-- <div class="logo" routerLink="/admin">
    <h2><span class="logo-1">Desi</span>Dukan</h2>
  </div> -->
  <ul>
    <li>
      <i class="fi fi-br-ambulance"></i
      ><a [routerLink]="['products']">Products</a>
    </li>
    <li>
      <i class="fi fi-br-ambulance"></i
      ><a [routerLink]="['products']">Products</a>
    </li>
    <li>
      <i class="fi fi-br-ambulance"></i
      ><a [routerLink]="['products']">Products</a>
    </li>
    <li>
      <i class="fi fi-br-ambulance"></i
      ><a [routerLink]="['products']">Products</a>
    </li>
    <li>
      <i class="fi fi-br-ambulance"></i
      ><a [routerLink]="['products']">Products</a>
    </li>
    <li>
      <i class="fi fi-br-ambulance"></i
      ><a [routerLink]="['products']">Products</a>
    </li>
    <li>
      <i class="fi fi-br-ambulance"></i
      ><a [routerLink]="['products']">Products</a>
    </li>
  </ul>
</div>
