.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  /* box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5); */
  height: 80px;
  .logo {
    cursor: pointer;
    h2 {
      font-weight: 700;
      margin: 0;
      .logo-1 {
        color: #279a27e3;
      }
    }
  }
  .quick-links {
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      margin: 0;
      padding: 0;
      li {
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        .link {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.641);
          cursor: pointer;
        }
      }
    }
  }
  .right-section,
  .user-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

.right-section > .user-section {
  i,
  .cart-length {
    cursor: pointer;
  }
}
.user-popup {
  position: absolute;
  right: 20px;
  background: black;
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  top: 50px;
  z-index: 999;
  animation: all 3s ease-in;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: flex;
      gap: 10px;
      align-items: center;
      margin-bottom: 10px;
      cursor: pointer;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .quick-links {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .search-box {
    display: none;
  }
}

.cart-logo {
  position: relative;
  .cart-length {
    position: absolute;
    /* display: inline-block; */
    top: -13px;
    right: -7px;
    background: #48a543;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: -6px;
    font-size: 13px;
    color: white;
  }
}
