<div class="nav">
  <div class="logo" [routerLink]="'/'">
    <h2><span class="logo-1">Desi</span>Dukan</h2>
  </div>
  <!-- <div class="quick-links">
    <ul>
      <li><a class="link" [routerLink]="['/products']">Products</a></li>
      <li><a class="link" [routerLink]="['/categories']">Categories</a></li>
      <li><a class="link" [routerLink]="['/brands']">Brands</a></li>
    </ul>
  </div> -->
  <div class="right-section">
    <div class="user-section">
      <div class="cart-logo" [routerLink]="['/cart']">
        <div class="cart-length">{{ (products$ | async)?.length }}</div>
        <i class="fi fi-rs-shopping-cart"></i>
      </div>
      <i class="fi fi-rs-circle-user" (click)="openUserPopup()"></i>
    </div>
  </div>
</div>

@if (isUserPopup) {
<div class="user-popup">
  <ul (click)="closeUserPopup()">
    <li [routerLink]="'/profile'">
      <i class="fi fi-rr-user-gear"></i> Profile
    </li>
    <li (click)="logout()"><i class="fi fi-rs-sign-out-alt"></i> Logout</li>
  </ul>
</div>
}
