<div class="nav">
  <div
    class="logo"
    [routerLink]="userRole === ADMIN ? '/admin/dashboard' : '/'"
  >
    <h2><span class="logo-1">Desi</span>Dukan</h2>
  </div>
  @if (userRole === USER) {
  <div class="quick-links">
    <ul>
      <li><a class="link" [routerLink]="['/products']">Products</a></li>
      <li><a class="link" [routerLink]="['/categories']">Categories</a></li>
      <li><a class="link" [routerLink]="['/brands']">Brands</a></li>
    </ul>
  </div>
  <div class="right-section">
    <div class="search-box">
      <app-search></app-search>
    </div>
    <div class="user-section">
      <i class="fi fi-rs-shopping-cart" [routerLink]="['/cart']"></i>
      <i class="fi fi-rs-circle-user" (click)="openUserPopup()"></i>
    </div>
  </div>
  } @if (userRole === ADMIN) {
  <div class="right-section">
    <div class="user-section">
      <i class="fi fi-rs-circle-user" (click)="openUserPopup()"></i>
    </div>
  </div>
  }
</div>

@if (isUserPopup) {
<div class="user-popup">
  <ul (click)="closeUserPopup()">
    <li [routerLink]="userRole === ADMIN ? '/admin/profile' : '/profile'">
      <i class="fi fi-rr-user-gear"></i> Profile
    </li>
    <li (click)="logout()"><i class="fi fi-rs-sign-out-alt"></i> Logout</li>
  </ul>
</div>
}
