<div class="main-container">
  <header>
    <app-admin-header
      [isMobileScreen]="isMobileScreen"
      (onHamburgerClick)="toggleAdminSidebar($event)"
    />
  </header>

  <main>
    <div
      class="content-wrapper"
      [ngStyle]="
        isUserAdmin && !isMobileScreen
          ? { 'grid-template-columns': '200px 1fr' }
          : { 'grid-template-columns': '1fr' }
      "
    >
      @if (isUserAdmin && !isMobileScreen || showCustomSidebar) {
      <app-admin-sidebar
        [showCustomSidebar]="showCustomSidebar"
        [isMobileScreen]="isMobileScreen"
      />
      }
      <div id="content">
        <router-outlet />
      </div>
    </div>
  </main>
</div>
